

label{
    padding: 3px;
}

fieldset{
    border-color: #98c2e9;
}

label{
    font-family: "Anta", sans-serif;
}

legend{
    font-family: "Kode Mono", monospace;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.box1:hover{
    background-color:rgb(111, 202, 123);
}
.box2:hover{
    background-color:rgb(192, 79, 79);
}

h3{
    font-family: "Madimi One", sans-serif;

}


textarea{
    background-color: #98c2e9;
}